{% extends 'base.html' %}
{% load static %}

{% block title %} Schimb cadou {% endblock %}

{% block content %}

    <div style="background-color: darkslategrey; color: antiquewhite">
        <h1 class="text-center">Imi place cadoul tau mai mult !</h1>
        <p class="text-center">De cate ori nu ai auzit aceasta fraza sau nu ai gandit-o ?
            Acum ai ocazia sa schimbi cadoul primit si nu numai...<br>
            Arunca o privire pe pagina noastra, poate gasesti ceva ce iti place!</p>
    </div>

    <div class="container-fluid">
        <div class="row">
            {% if user.is_authenticated %}
                {% include 'categories.html' %}
            {% endif %}
            <div class="col-4 {% if user.is_authenticated %} offset-3 {% else %} offset-4 {% endif %}">
                {% with products as products %}
                    <h5 class="text-center" style="background-color: navajowhite">Produse disponibile pe site:</h5>
                    <div class="text-center">
                        {% include 'media_carousel.html' %}
                    </div>
                {% endwith %}
            </div>
        </div>
    </div>

{% endblock %}s