
    <div id="mediaCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for product in products %}
            <div class="carousel-item {% if forloop.first %} active {% endif %}">
                <img src="{{ product.product_picture.url }}" class="d-block w-100" alt="Image">
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-slide="prev" data-bs-target="#mediaCarousel">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only" style="color: black">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-slide="next" data-bs-target="#mediaCarousel">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only" style="color: black">Next</span>
        </button>
    </div>