<nav class="navbar navbar-expand-lg bg-success-subtle">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home-page' %}">Bine ai venit!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home-page' %}">Acasa</a>
                </li>

                {% if user.is_authenticated %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Facem schimb ?
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'list-requests' %}">Vezi oferte primite</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'sent-requests' %}">Afiseaza produsele pentru care am solicitat schimb</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Produsele mele
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'create-product' %}">Adauga produs nou</a></li>
                            <li><a class="dropdown-item" href="{% url 'list-products' %}">Afiseaza produsele
                                mele</a></li>
                            <li><a class="dropdown-item" href="{% url 'get-history' %}">Afiseaza istoricul produselor
                                mele</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Contul meu
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'password_change' %}">Schimba parola</a></li>
                            <li>
                        </ul>
                    </li>

                {% endif %}
            </ul>

            {% if user.is_authenticated %}

                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary">Logout, {{ user.username }}</button>
                </form>

                <form method="post" class="d-flex" role="search" action="{% url 'search-results' %}">
                    {% csrf_token %}
                    <input class="form-control me-2" type="text" name="search_term" placeholder="Cautare produs"
                           aria-label="Search">
                    <button class="btn btn-light" type="submit">Search</button>
                </form>

            {% else %}

                <div>
                    <a href="{% url 'login' %}" class="btn btn btn-primary">Login</a>
                    <a href="{% url 'create-user' %}" class="btn btn btn-secondary">Signup</a>
                </div>

            {% endif %}
        
        </div>
    </div>
</nav>